<% if @current_user %>
  <p>Currently logged in as: <%= @current_user.username %></p>

<h2>Add a new post:</h2>
<%= render 'posts/form' %>

<ul>
    <% @posts.each do |post| %>
        <li>
            <p> Posted by: <%= post.username %> </p>
            <p> Last updated: <%= post.updated_at.strftime("%B %d, %Y, %I:%M %p") %> </p> 
            <p> Post Body: </p>
            <h2> <%= post.body %> </h2>
            <p> Comments: <%= post.comments.count %>
            <br>
            <br>
            <% if @current_user.username == post.username %>
              <%= link_to "Delete Post", post_path(post), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
                } %>
            <% end %>
        </li>
    <% end %>
</ul>

<% end %>