<% if @current_user %>
  <p>Currently logged in as: <%= @current_user.username %></p>
<% end %>

<ul>
    <% @posts.each do |post| %>
        <li>
            <p> Posted by: <%= post.username %> </p>
            <p> Last updated: <%= post.updated_at %> </p> 
            <p> Post Body: <%= post.body %> </p>

            <p> *list comments here* </p>
            <p> *form to add new comment* </p>
        </li>
    <% end %>
</ul>

<h2> Add a new post:</h2>
<%= render 'posts/form', user: @current_user %>