<h2> Post: <%= @post.id %> </h2>

<p> Created by: <%= @post.username %></p>
<p> Last updated: <%= @post.updated_at.strftime("%B %d, %Y, %I:%M %p") %> </p> 

<h2><%= @post.body %></h2>

<ul>
    <% @comments.each do |comment| %>
        <li>
            <%= comment.body %>
        </li>
    <% end %>
</ul>

<%= render 'comments/form' %>

<% if @current_user.username == @post.username %>
    <%= link_to "Delete Post", post_path(@post), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %>

    <%= form_with(model: @post, method: :post) do |form| %>
        <div>
            <%= form.text_area :body %>
        </div>
        <%= form.submit "Update Post" %>
    <% end %>
    
    <br>
    <% if flash[:alert] %>
        <div style="background-color: #f8d7da; color: #721c24; padding: 10px; border: 1px solid #f5c6cb; border-radius: 4px; margin-bottom: 10px;">
            <strong>Alert:</strong> <%= flash[:alert] %>
        </div>
    <% end %>
    <br>
<% end %>